<tr id="<%= "example-#{example.id}" %>" class="border-b">
  <td class="py-4 pr-3 text-gray-700">
    <%= simple_format example.input %>
  </td>
  <td class="py-4 px-6 text-gray-700">
    <%= simple_format example.output %>
  </td>
  <td class="py-4 pl-3 text-right">
    <%= link_to "Edit", edit_model_example_path(@model, example), data: { turbo_frame: "edit_example_modal" }, class: "font-medium text-blue-600 hover:underline" %>
  </td>
</tr>