<%= turbo_frame_tag "template_selector" do %>
  <div class="absolute top-11 right-0 w-full border border-gray-200 bg-gray-50 rounded-lg shadow-lg p-3">
    <p>Template selector</p>
  </div>
<% end %>
