<%= turbo_frame_tag "template-selector" do %>
  <div class="absolute top-11 right-0 w-4/5 border border-gray-200 bg-gray-50 rounded-lg shadow-lg p-3">
    <p class="text-sm text-gray-600 font-medium">Select a different template</p>
  </div>
<% end %>
