<%# back_data allows using browser's history.back() API to preserve scroll position when returning to the inbox %>
<%# The inbox page still reloads, but the user returns to where they were scrolled %>
<% back_and_title = capture do %>
  <div class="flex text-stone-500 divide-x divide-stone-500 min-w-0 gap-3">
    <%= link_to back_path,
                  class: "flex items-center bg-stone-50 border border-stone-200 focus:outline-none hover:bg-stone-100 focus:ring-4 focus:ring-stone-100 rounded-lg px-2 py-0.5 gap-1",
                  data: (back_data || {}) do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
        <path fill-rule="evenodd" d="M14 8a.75.75 0 0 1-.75.75H4.56l3.22 3.22a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 1.06L4.56 7.25h8.69A.75.75 0 0 1 14 8Z" clip-rule="evenodd" />
      </svg>
      <p class="font-medium"><%= back_text %></p>
    <% end %>
    <div class="min-w-0 flex-shrink">
      <p class="text-lg text-stone-600 font-semibold truncate"><%= title %></p>
    </div>
  </div>
<% end %>
<%= render partial: "shared/header", locals: { left_side: back_and_title } %>