<nav class="container mx-auto px-4 py-6 flex justify-between w-full">
  <ul class="flex space-x-10 items-center">
    <%= render partial: "marketing/logo" %>
  </ul>
  <%= link_to "Log in &rarr;".html_safe, login_path,
         class: "bg-white text-stone-600 border border-stone-200 px-4 py-2 text-sm rounded-lg font-medium hover:bg-stone-100" %>
</nav>
