<footer>
  <div class="mx-auto container px-4 py-12 md:flex md:items-center md:justify-between lg:px-8">
    <p class="mt-8 text-center text-sm/6 text-slate-600 md:mt-0">&copy; 2025 Jacob Duba. All rights reserved.</p>
    <p class="mt-8 text-center text-sm/6 text-slate-600 md:mt-0"><%= link_to "Privacy Policy", privacy_path %> &bull; <%= link_to "Contact us", "mailto:support@vipreply.ai" %></p>
  </div>
</footer>
