<div data-controller="header-scroll"
     data-scrolled="false"
     class="fixed top-0 left-0 w-full z-50 transition-all duration-300
            bg-transparent border-b border-transparent
            py-4 data-[scrolled=true]:py-2
            data-[scrolled=true]:bg-stone-100
            data-[scrolled=true]:border-b-stone-200">
  <div class="max-w-7xl mx-auto px-4 flex justify-between items-center">
    <%= render 'marketing/logo' %>
    <div class="flex gap-4 items-center">
      <%= link_to login_path,
            class: "text-stone-600 bg-stone-100 hover:bg-stone-100 border border-stone-200 font-medium rounded-lg text-sm px-6 py-2.5 text-center inline-flex items-center" do %>
        Sign In
      <% end %>
      <%= link_to "Try for free", login_path,
            class: "text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-sm px-6 py-2.5 text-center inline-flex items-center" %>
    </div>
  </div>
</div>
