<% content_for :title, "Privacy Policy | VIPReply" %>
<%= render 'marketing/marketing_header' %>
<div class="blog-container mt-16">
  <%= raw @html_content %>
</div>
<%= render 'marketing/marketing_footer' %>
