<tr class="odd:bg-white even:bg-gray-50 border-b">
  <td class="px-6 py-4 text-gray-700">
    <%= example.input %>
  </td>
  <td class="px-6 py-4 text-gray-700">
    <%= example.output %>
  </td>
  <td class="px-6 py-4 text-right">
    <a href="#" class="font-medium text-blue-600 hover:underline">Edit</a>
  </td>
</tr>