<div class="container mx-auto max-w-md pt-16 px-3 md:max-w-2xl md:px-0">
  <div class="flex justify-between mb-6">
    <h1 class="text-4xl font-bold text-slate-800">Inbox</h1>
    <%= link_to logout_path, data: { turbo_method: :delete }, class: "flex items-center gap-x-1.5 group/logout " do %>
      <span class="text-slate-500 group-hover/logout:text-red-400">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15m3 0 3-3m0 0-3-3m3 3H9" />
        </svg>
      </span>
      <span class="text-slate-600 group-hover/logout:text-red-500">
        Logout of <%= @account.name %>
      </span>
    <% end %>
  </div>
  <% if @inbox %>
    <p>Inbox connected.</p>
  <% else %>
    <p>You don't have an inbox connected.</p>
  <% end %>
</div>
